.cart-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
  }
  
  .cart-total {
    margin-top: 10px;
    font-weight: bold;
  }
  
  .clear-cart-button {
    background-color: #ff5733;
    color: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
  }
  
  .clear-cart-button:hover {
    background-color: #e64a2e;
  }
  
  .cart-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .cart-item p {
    margin: 0;
  }
  
  .cart-item button {
    background-color: #ff5733;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .cart-item button:hover {
    background-color: #e64a2e;
  }

  .cart-submit {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .submit-buttons {
    width:140px;
  }