.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    gap: 20px;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.product-card {
    width: 100%;
    max-width: 600px;
    min-height: 300px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: box-shadow 0.3s ease;
    overflow: hidden;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.product-details {
    flex-grow: 1;
    padding: 20px;
}

.product-details h2 {
    margin-bottom: 10px;
    color: #333;
}

.product-details p {
    margin-bottom: 8px;
    color: #666;
}

.description {
    margin-bottom: 15px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.product-details p {
    margin: 0;
}

.product-card-footer {
    padding: 10px;
    background-color: #f8f8f8;
    border-top: 1px solid #ddd;
    border-radius: 0 0 8px 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-card-footer p {
    margin: 0;
}

.product-header {
    margin-top: 20px;
}

.product-button {
    width: 25%;
    height: 33px;
    align-self: center;
}

#product-quantity {
    width: 30%;
    align-self: center;
    margin-left: 10px;
}

.product-card-add {
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
}

.product-quantity-text {
    align-self: center;
    text-align: end;
    ;
}

.product-card-add-quantity {
    display: flex;
    flex-direction: row;
}

.product-item {
    width: 100%;
    justify-content: center;
    display: flex;
}